<phpunit bootstrap="./test/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         processIsolation="false"
         colors="true">
    <php>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
        <env name="DB_NAME" value="activecollab_jobs_queue_test"/>
    </php>
    <testsuites>
        <testsuite name="JobsQueue">
            <directory>./test/src</directory>
        </testsuite>
    </testsuites>
</phpunit>